 *{
    margin: 0;
    padding: 0;
 }
 .main{
     width: 100%;
     background:black;
     background-position: center;
     background-size: cover;
     height: 100vh;
  }
  
  .navbar{
      width: 85%;
      margin: auto;
      /* background-color: ; */
      padding: 35px 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    .logo{
      color: rgb(252, 250, 246);
      size: 100px;
      width: 100px 110px;
      cursor: pointer;
    }
    
    .navbar ul li {
      list-style: none;
      display: inline-block;
      margin: 0 20px;
      position: relative;
    }
    
    .navbar ul li a {
      text-decoration: none;
      color:rgb(252, 249, 243);
      text-transform: uppercase;
    }
    
    .navbar ul li::after {
      content: "";
      height: 3px;
      width: 0;
      background: gainsboro;
      position: absolute;
      left: 0;
      bottom: -10px;
      transition: 0.5s;
    }
    
    .navbar ul li:hover::after {
      width: 100%;
    }
   .form{
     width: 250px;
     height: 339px;
     top: 25%;
     background: rgb(252, 252, 252);
     position: absolute;
     left: 1100px;
     border-radius: 45px;
     padding: 35px;
  }
  
  .form h2{
     width: 220px;
     font-family: sans-serif;
      text-align: center;
      color:black;
      font-size: 22px;
      background-color: orange;
      border-radius: 10px;
      margin: 10px;
      padding: 5px;
  }
  
  .form input{
     width: 240px;
     height: 35px;
     background: transparent;
     border-bottom: 1px solid orange;
     border-right: none;
     border-top: none;
     border-left: none;
     color:black;
     font-size: 15px;
     letter-spacing: 1px;
     margin-top: 12px;
     font-family: sans-serif;
  }
  
  .form input:focus{
     outline: none;
  }
  
  .form .placeholder{
     color:black;
     font-family: Arial;
  
  }
  
  .btn{
     width: 240px;
     height: 40px;
     background: orange;
     border-bottom-left-radius: none;
     margin-top: 30px;
     font-size: 18px;
     border-radius: 10px;
     cursor: pointer;
     color: blueviolet;
  }
  
  .btn:hover{
     background: white;
     color: orange; 
  }
  
  .btn a{
     text-decoration: none;
     color: black;
     font-weight: bolder;
  }
  
  .form .link{
     color: black;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 15px;
     padding-top: 20Px;
     text-align: center;
  }
  
  .form .link a{
     text-decoration: none;
     color:orange;
  }
  
  /* .back{
     height: 495px;
     width: 879px;
     position: absolute;
     top: 20%;
     right: 38%;
     } */
  /* .back video{
     height: 504px;
     width: 878px;
  } */
  span{
    color: red;
  } 
/* 
  body{
   display: flex;
   justify-content: center;
   align-items: center;

   background-image: linear-gradient(to right, #c6ffdd, #fbd786, #c6ffdd);
   font-family: 'Prompt', sans-serif;
}


.flexCenter{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.card{
   width: 400px;
   border-radius: 25px;
   background-color: #F2F2F2;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.content{
   border-radius: 25px;
   height: 250px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

.imageContainer{
   width: 100%;
   background-color: #F2F2F2;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;
}

h3{
   font-size: 25px;
   text-transform: uppercase;
}

.textField{
   height: 50px;
   padding-left: 2rem;
   border-radius: 25px;
   border: none;
   width: 80%;
   font-size: 1rem;
}

.primaryBtn{
   border-radius: 25px;
   height: 50px;
   border: none;
   background-color: #FAD610;
   width: 80%;
   color: #fff;
   font-weight: 500;
   font-size: 20px;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   cursor: pointer;
}

.primaryBtn:active {
   transform: scale(0.98);
}

a{
   text-decoration: none;
   color: grey;
   margin: 1rem 0rem;
} */